* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }
  
  header {
    padding: 10px;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: center;
    background-color: #2d5981;
  }
  
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  section {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 15%;
    margin-right: 15%;
  }

  main {
    display: flex;

    flex: 300px 300px 300px;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .left {
    flex: 2;
    background-color: #266acf;
    padding: 50px;
    text-align: center;
    color: white;
    border: solid;
    border-width: 1px;
    border-color: black;
    margin-top:17px;
    margin-bottom: 17px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .left-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100px;
  }



  .first-image {
    
    max-width: 110%;
    max-height: auto;
  }
  
  footer {
    width: 100%;
    bottom: 0;
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
    margin-top: auto;
  }
  
  .products {
    flex: 5;
    padding: 10px;
    display: wrap;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 2px;  
  }

  .tabs-pics {
    display: block;
    justify-items: left;
    width: 200px;
    height: 150px;
  }

  .tabs {
    text-align: center;
    color: white;
  }

  #float-right {
    float: right;
  }

  #float-left {
    float: left;
  }

  #contact {
    float: right;
    width: 150px;
    height: 100px;
  }

  
  .options {
    border-style: solid;
    border-width: 1px;
    border-color: #13293d;
    margin: 5px;
    padding: 30px;
    background-color: #266acf;
    color: white;
    flex-direction: row;
  }
  
  .options header {
    text-size: 2;
  }
  
  button:hover{
     cursor: pointer;
  }
  button:active {
    background-color:blue;
    color:white;
  }

  

